/* LAYOUTS */

#container {
    min-width: 1280px;
    /* maybe not? */
    width: 100%;
    margin: 0 auto;
    background-color: #101F2F;
}

#header {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    border: solid white;
}

.top-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #101F2F;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

.navbar-links {
    margin: 25px 0 0 0;
}

.navbar-links li {
    float: right;
    margin-right: 50px;
}

.navbar-links a {
    display: block;
    padding: 8px;
    color: #C4B480;
    text-decoration: none;
}

.logo-img {
    position: relative;
    display: inline-flex;
    border: solid white;
    height: 100%;
}

#search-bar-section {
    height: 100px;
    background-color: #992c2d;
}

#search-bar {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: solid white;
}

/* COMPONENTS and STYLING */
.cta-button {
    height: 40px;
    background: linear-gradient(#C4B480, #dac992, #ebf8e1);
    border: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    font-weight: bold;

}