        #header {
            width: 80%;
            height: 100px;
            margin: 0 auto;
            padding-top: 20px;
        }

        body {
            font-family: 'Overpass',
                sans-serif;
            background-color: #f0f5f5;
        }

        #container {
            min-width: 1280px;
            /* maybe not? */
            width: 100%;
            margin: 0 auto;
        }

        #content {
            background-color: #f0f5f5;
            border: none;
            min-height: 200px;
            padding: 20px;
        }

        #footer {
            background-color: #3b3747;
            color: #f0f5f5;
            border: none;
            min-height: 50px;
            padding: 20px 10%;
        }

        .carousel-inner {
            background-color: #D8DCDC;
        }


        .carousel .carousel-item {
            height: 525px;
        }

        .carousel-item img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            min-height: 500px;
        }

        #why-us-container {
            background-color: #D8DCDC;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            padding-bottom: 10px;
        }

        #why-us-container-inner {
            /* to provide the side margin */
            margin: 0 auto;
            width: 75%;
            /* border: solid 1px #3b3747; */
        }

        #why-us-content-row {
            display: flex;
            height: 200px;
        }

        #why-us-content-img-container {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #why-us-content-para-container {
            width: 70%;
            height: 100%;
            display: block;
            padding: 50px 0;
        }

        #loan-types-container {
            background-color: #f0f5f5;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            padding-bottom: 10px;

        }

        #loan-types-container-inner {
            margin: 0 auto;
            padding: 30px 0;
            width: 75%;
            /* border: solid 1px #3b3747; */
            display: inline-flex;
        }

        #faq-container {
            background-color: #D8DCDC;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            padding-bottom: 10px;
        }

        #faq-container-inner {
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 75%;
            /* border: solid 1px #3b3747; */
            padding: 30px;
        }

        #cta-container {
            background-color: #f0f5f5;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            padding-bottom: 10px;
        }

        #cta-container-inner {
            /* to provide the side margin */
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 75%;
            /* border: solid 1px #3b3747; */
        }

        #vision-container {
            margin: 0 auto;
            text-align: top;
            padding: 50px;
            width: 80%;
            vertical-align: middle;
        }

        .navbar {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }

        .navbar-custom {
            background-color: #f0f5f5;
            color: #3b3747;
        }

        .nav-item {
            margin: 0 8px;
        }

        .header-1 {
            font-size: 56px;
            font-weight: 700;
            line-height: 67px;
            text-align: center;
        }

        .header-1-caption {
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;
            text-align: center;
        }

        .header-2 {
            font-size: 26px;
            font-weight: 700;
            line-height: 39px;
        }

        .header-3 {
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
        }

        .header-3-caption {
            font-size: 16px;
            font-weight: 300;
            line-height: 27px;
            color: #667286;
        }

        .para {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
        }

        .button-navbar {
            background-color: #852529;
            color: #f0f5f5;
            border: none;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            padding: 9px 18px 9px 18px;
            transform: translateY(-2px);
        }

        .para-button {
            background-color: #852529;
            color: #f0f5f5;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            padding: 10px 70px 10px 70px;
        }

        .caret {
            width: 0;
            height: 0;
            display: inline-block;
            border: 10px solid transparent;
        }

        .caret.down {
            border-top-color: #258985;
            animation: bounce 3s linear infinite;
        }

        @keyframes bounce {
            50% {
                transform: translateY(-10%);
            }

            80% {
                transform: translateY(40%);
            }
        }



        .accordion-button.collapsed {
            color: #D8DCDC;
            background: #258985;
        }


        .accordion-button:not(.collapsed) {
            background-color: #3b3747;
            color: #7ebebc;
        }

        .accordion-button:not(.collapsed)::after {
            background-color: #3b3747;
            color: #7ebebc;
        }

        .accordion-body {
            text-align: left;
        }

        .carousel-caption-override {
            position: absolute;
            left: unset;
            right: 10%;
            bottom: 35%;
            color: #3B3747;
            /* background-color: rgba(37, 137, 133, 0.6); */
            /* padding: 20px;
            border-radius: 10px; */
        }

        .carousel-caption-text {
            font-size: 35px;
            font-weight: 700;
            line-height: 39px;
        }

        .carousel-caption-button {

            background-color: transparent;

            /* color: #3B3747;
            border-color: #3B3747; */
            /* color: #258985;
            border-color: #258985;
            border: solid;
            border-radius: 5px;
            border-width: 4px; */

            background-color: rgba(133, 37, 41);
            color: #f0f5f5;

            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            padding: 12px 30px 8px 30px;

            margin-top: 20px;
            /* text-shadow: 1px 1px grey; */
            box-shadow: 3px 3px 3px grey;

        }



        .modal-content {
            background-color: #D8DCDC;
        }

        .required-field::after {
            content: "*";
            color: red;
        }